@import "materialize/components/color";

$primary-color: black !default;
// $primary-color-light: false !default;
// $primary-color-dark: false !default;
// @if not $primary-color-light {
//   $primary-color-light: lighten($primary-color, 15%);
// }
// @if not $primary-color-dark {
//   $primary-color-dark: darken($primary-color, 15%);
// }
$secondary-color: color("blue", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;

@import 'materialize';
@import "materialize/extras/nouislider";


body {
  background-color: #fcfcfc!important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

/* invalid color */
.field_with_errors input {
 border-bottom: 1px solid red!important;
 box-shadow: 0 1px 0 0 red!important;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.vanish{
  max-width: 500px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.alert{
    padding: 10px;
    position: fixed!important;
    top: 40px!important;
    right: 20px!important;
    width: 400px!important;
    z-index: 2000;
    background-color: rgba(0, 0, 19, 0.9)!important;
    color: white!important;
    border: 1px solid gray!important;
  a {
    color: #FFF;
    text-decoration: none;
  }
}

