%table
  %thead
    %tr
      %th{"data-field" => "id"} Name
      %th{"data-field" => "quantity"} Quantity
  %h3 All items
  %tbody
    -@items.each do |item| 
      %tr
        %td 
          =item.name
        %td
          =item.quantity